* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app_header {
    background-color: gray;
    text-align: center;
    height: 60px;
}

.btn_submit,
.btn_reset {
    max-width: 30%;
    text-align: center;
    justify-content: center;
    margin-top: 3rem;
    background-color: lightgray;
    border: 0.5px solid gray;
}

.text_red {
    color: rgb(121, 0, 0);
}